@model Referral2.Models.PatientForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PatientForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UniqueId" class="control-label"></label>
                <input asp-for="UniqueId" class="form-control" />
                <span asp-validation-for="UniqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferringFacilityId" class="control-label"></label>
                <select asp-for="ReferringFacilityId" class ="form-control" asp-items="ViewBag.ReferringFacilityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReferredTo" class="control-label"></label>
                <select asp-for="ReferredTo" class ="form-control" asp-items="ViewBag.ReferredTo"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeReferred" class="control-label"></label>
                <input asp-for="TimeReferred" class="form-control" />
                <span asp-validation-for="TimeReferred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTransferred" class="control-label"></label>
                <input asp-for="TimeTransferred" class="form-control" />
                <span asp-validation-for="TimeTransferred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CaseSummary" class="control-label"></label>
                <input asp-for="CaseSummary" class="form-control" />
                <span asp-validation-for="CaseSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommendSummary" class="control-label"></label>
                <input asp-for="RecommendSummary" class="form-control" />
                <span asp-validation-for="RecommendSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferringMd" class="control-label"></label>
                <select asp-for="ReferringMd" class ="form-control" asp-items="ViewBag.ReferringMd"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReferredMd" class="control-label"></label>
                <select asp-for="ReferredMd" class ="form-control" asp-items="ViewBag.ReferredMd"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

