@model ReferViewModel

<div class="modal fade" role="dialog" id="refer-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form asp-action="ReferRemark">
                <div class="modal-header">
                    <h4>
                        REFER TO OTHER FACILITY
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <input type="hidden" asp-for="Code" />
                    </div>
                    <div class="">
                        <textarea asp-for="Remarks" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                    <div class="">
                        <span>Facility:</span>
                        <select asp-for="FacilityId" asp-items="ViewBag.Facility" class="form-control" required></select>
                        <span asp-validation-for="FacilityId" class="text-danger"></span>
                    </div>
                    <div class="">
                        <span>Department:</span>
                        <select asp-for="DepartmentId" asp-items="ViewBag.Department" class="form-control" required></select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


