@model Referral2.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UniqueId" class="control-label"></label>
                <input asp-for="UniqueId" class="form-control" />
                <span asp-validation-for="UniqueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CivilStatus" class="control-label"></label>
                <input asp-for="CivilStatus" class="form-control" />
                <span asp-validation-for="CivilStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhicId" class="control-label"></label>
                <input asp-for="PhicId" class="form-control" />
                <span asp-validation-for="PhicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhicStatus" class="control-label"></label>
                <input asp-for="PhicStatus" class="form-control" />
                <span asp-validation-for="PhicStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarangayId" class="control-label"></label>
                <select asp-for="BarangayId" class="form-control" asp-items="ViewBag.BarangayId"></select>
                <span asp-validation-for="BarangayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuncityId" class="control-label"></label>
                <select asp-for="MuncityId" class="form-control" asp-items="ViewBag.MuncityId"></select>
                <span asp-validation-for="MuncityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceId" class="control-label"></label>
                <select asp-for="ProvinceId" class="form-control" asp-items="ViewBag.ProvinceId"></select>
                <span asp-validation-for="ProvinceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TsekapPatient" class="control-label"></label>
                <input asp-for="TsekapPatient" class="form-control" />
                <span asp-validation-for="TsekapPatient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

