<div class="card card-success">
    <div class="card-header card-outline">
        Links
    </div>
    <div class="card-body">
        <div class="list-group">
            <a class="list-group-item link-black" href="#">
                Manage Users
                <span class="fa-pull-right">
                    <i class="fa fa-users"></i>
                </span>
            </a>
            <a class="list-group-item link-black" href="#">
                Login As
                <span class="fa-pull-right">
                    <i class="fa fa-sign-in"></i>
                </span>
            </a>
        </div>
    </div>
</div>