<ul class="navbar-nav flex-grow-1">
    <!-- DASHBOARD -->
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AdminDashboard">
            <i class="fa fa-home"></i>
            &nbsp;Dashboard
        </a>
    </li>
    <!-- MANAGE -->
    <li class="nav-item dropdown d-none d-sm-inline-block">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-wrench"></i>
            &nbsp;Manage
        </a>
        <ul class="dropdown-menu">
            <!-- IT SUPPORT -->
            <li>
                <a class="dropdown-item nav-link" asp-area="" asp-controller="Admin" asp-action="SupportUsers">
                    <i class="fa fa-users"></i>
                    &nbsp;IT Support
                </a>
            </li>
            <!-- FACILITIES -->
            <li >
                <a class="dropdown-item nav-link" asp-area="" asp-controller="Admin" asp-action="Facilities">
                    <i class="fa fa-hospital"></i>
                    &nbsp;Facilities
                </a>
            </li>
            <!-- REFERRAL -->
            <li >
                <a class="dropdown-item nav-link" asp-area="" asp-controller="Account" asp-action="AccessDenied">
                    <i class="far fa-file"></i>
                    &nbsp;Referral
                </a>
            </li>
        </ul>
    </li>
    <!-- REPORT(LAST) -->
    <li class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
            <i class="fa fa-print"></i>&nbsp;
            Report
        </a>
        <ul class="dropdown-menu border-0 shadow">
            <li>
                <a class="dropdown-item nav-link" asp-controller="Admin" asp-action="OnlineUsers">
                    <i class="fa fa-users"></i>&nbsp;
                    Online Users
                </a>
            </li>
            <li>
                <a class="dropdown-item  nav-link" asp-controller="Admin" asp-action="ReferralStatus">
                    <i class="fa fa-chart-line"></i>&nbsp;
                    Referral Status
                </a>
            </li>

            <li class="dropdown-divider"></li>

            <li>
                <a class="dropdown-item  nav-link" asp-controller="Admin" asp-action="DailyUsers">
                    <i class="fa fa-users"></i>&nbsp;
                    Daily Users
                </a>
            </li>

            <li>
                <a class="dropdown-item  nav-link" asp-controller="Admin" asp-action="DailyReferral">
                    <i class="fa fa-hospital"></i>&nbsp;
                    Daily Hospital
                </a>
            </li>

            <!-- Level two dropdown-->
            @*
        <li class="dropdown-submenu dropdown-hover">
            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle  nav-link">
                <i class="fas fa-arrows-alt-h"></i>
                Daily Referral
            </a>
            <ul class="dropdown-menu border-0 shadow">
                <li>
                    <a tabindex="-1" class="dropdown-item nav-link" asp-controller="Admin" asp-action="DailyReferral">
                        <i class="fa fa-hospital"></i>&nbsp;
                        Hospital
                    </a>
                </li>

                <!-- Level three dropdown-->
                <li class="dropdown-submenu">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle nav-link">
                        <i class="fa fa-user"></i>&nbsp;
                        Patient
                    </a>
                    <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                        <li>
                            <a class="dropdown-item nav-link" asp-action="PatientIncoming">
                                <i class="nav-icon fa fa-sign-in-alt"></i>&nbsp;
                                Incoming
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item nav-link">
                                <i class="nav-icon fa fa-sign-out-alt"></i>
                                Outgoing
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
            *@
            <li>
                <a class="dropdown-item nav-link" asp-action="Consolidated">
                    <i class="far fa-file-archive"></i>&nbsp;
                    Consolidated
                </a>
            </li>
            <li>
                <a class="dropdown-item  nav-link" asp-action="Graph">
                    <i class="fa fa-chart-bar"></i>&nbsp;
                    Graph
                </a>
            </li>
        </ul>
    </li>
    <!-- LOGIN AS-->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Login">
            <i class="nav-icon fa fa-sign-in-alt"></i>
            &nbsp;Login As
        </a>
    </li>
    <!-- SETTINGS -->
    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" href="#resetPasswordModal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
            &nbsp;Settings
        </a>
        <ul class="dropdown-menu">
            <!-- CHANGE PASSWORD -->
            <li>
                <a class="dropdown-item nav-link" data-toggle="ajax-modal" data-target="#change-password-modal" data-url="@Url.Action("ChangePassword","Users")">
                    <i class="fa fa-key"></i>
                    &nbsp;Change Password
                </a>
            </li>
            <!-- LOGOUT -->
            <li>
                <a class="dropdown-item nav-link" asp-controller="Account" asp-action="Logout">
                    <i class="fa fa-sign-out-alt"></i>
                    &nbsp;Logout
                </a>
            </li>
        </ul>
    </li>
</ul>